<app-main-nav></app-main-nav>
<app-header style="background-position: top"
            [urlImageHeader]="'https://oxatis.typepad.com/.a/6a00d8341d6ba153ef01b7c8dbc9e5970b-800wi'"></app-header>
<section>
  <div class="parent-section">
    <div class="container">

      <div>
        <div class="introduction-to-sector">
          <h3 class="title">Sectores</h3>
          <p class="introductory-text">One must follow the guru in order to shape the sinner of further career.
            One must follow the guru in order to shape the sinner of further career. One must follow the guru in order
            to
            shape the sinner of further career. One must follow the guru in order to shape the sinner of further career.
            One must follow the guru in order to shape the sinner of further career. One must follow the guru in order
            to
            shape the sinner of further career. One must follow the guru in order to shape the sinner of further career.
            One must follow the guru in order to shape the sinner of further career. One must follow the guru in order
            to
          </p>

        </div>
      </div>

    </div>
  </div>
</section>

<div class="wider-container content-page-with-grid">

  <app-relational-pages></app-relational-pages>

  <section class="sections main-content">
    <div>
      <h5>Sector profesional</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat sagittis efficitur. Integer
        imperdiet, lectus id ullamcorper commodo, ex nibh pellentesque augue, id luctus turpis felis in orci. Integer
        vel laoreet erat. Donec ac faucibus tellus, vel accumsan elit. Donec non dui sit amet nibh pellentesque
        ullamcorper.
      </p>
      <p>
        Phasellus interdum placerat ex et ornare. Nunc tincidunt purus vitae finibus consectetur. Aliquam id euismod
        tellus. Aliquam varius bibendum commodo. Etiam justo est, mollis et odio non, maximus posuere dolor. Nulla
        interdum nulla id enim auctor, a sodales turpis egestas. Proin varius molestie euismod. <span>Nam fermentum sagittis
        malesuada.</span> Duis imperdiet vestibulum posuere. Maecenas mauris tellus, rhoncus non dui eu, consectetur
        vehicula
        nibh. Morbi tempor eu magna vitae pulvinar.
      </p>
      <p>
        Aliquam bibendum, nisl nec vehicula fermentum, ligula tellus faucibus purus, ac eleifend neque orci a justo.
        Vestibulum hendrerit <span>orci sit amet risus imperdiet</span>, a lacinia nisi hendrerit. Donec eget justo ut
        nibh pretium
        quam orci. Donec maximus pretium ante at ultrices. Ut quis <span>lorem elementum, cursus lectus </span>quis.
      </p>

      <app-carousel-image-cover [heightCarousel]="360" [numberElements]="3"
                                [info]="infoToCarouselProfessionalSector"></app-carousel-image-cover>
    </div>

    <hr>

    <div>
      <h5>Sector industriales</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat sagittis efficitur. Integer
        imperdiet, lectus id ullamcorper commodo, ex nibh pellentesque augue, id luctus turpis felis in orci. Integer
        vel laoreet erat. Donec ac faucibus tellus, vel accumsan elit. Donec non dui sit amet nibh pellentesque
        ullamcorper.
      </p>
      <p>
        Phasellus interdum placerat ex et ornare. Nunc tincidunt purus vitae finibus consectetur. Aliquam id euismod
        tellus. Aliquam varius bibendum commodo. Etiam justo est, mollis et odio non, maximus posuere dolor. Nulla
        interdum nulla id enim auctor, a sodales turpis egestas. Proin varius molestie euismod. <span>Nam fermentum sagittis
        malesuada.</span> Duis imperdiet vestibulum posuere. Maecenas mauris tellus, rhoncus non dui eu, consectetur
        vehicula
        nibh. Morbi tempor eu magna vitae pulvinar.
      </p>
      <p>
        Aliquam bibendum, nisl nec vehicula fermentum, ligula tellus faucibus purus, ac eleifend neque orci a justo.
        Vestibulum hendrerit <span>orci sit amet risus imperdiet</span>, a lacinia nisi hendrerit. Donec eget justo ut
        nibh pretium
        quam orci. Donec maximus pretium ante at ultrices. Ut quis <span>lorem elementum, cursus lectus </span>quis.
      </p>

      <app-carousel-image-cover [heightCarousel]="360" [numberElements]="3"
                                [info]="infoToCarouselProfessionalSector"></app-carousel-image-cover>
    </div>

    <hr>
    <div>
      <h5>Sector domésticos</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat sagittis efficitur. Integer
        imperdiet, lectus id ullamcorper commodo, ex nibh pellentesque augue, id luctus turpis felis in orci. Integer
        vel laoreet erat. Donec ac faucibus tellus, vel accumsan elit. Donec non dui sit amet nibh pellentesque
        ullamcorper.
      </p>
      <p>
        Phasellus interdum placerat ex et ornare. Nunc tincidunt purus vitae finibus consectetur. Aliquam id euismod
        tellus. Aliquam varius bibendum commodo. Etiam justo est, mollis et odio non, maximus posuere dolor. Nulla
        interdum nulla id enim auctor, a sodales turpis egestas. Proin varius molestie euismod. <span>Nam fermentum sagittis
        malesuada.</span> Duis imperdiet vestibulum posuere. Maecenas mauris tellus, rhoncus non dui eu, consectetur
        vehicula
        nibh. Morbi tempor eu magna vitae pulvinar.
      </p>
      <p>
        Aliquam bibendum, nisl nec vehicula fermentum, ligula tellus faucibus purus, ac eleifend neque orci a justo.
        Vestibulum hendrerit <span>orci sit amet risus imperdiet</span>, a lacinia nisi hendrerit. Donec eget justo ut
        nibh pretium
        quam orci. Donec maximus pretium ante at ultrices. Ut quis <span>lorem elementum, cursus lectus </span>quis.
      </p>

      <app-carousel-image-cover [heightCarousel]="360" [numberElements]="3"
                                [info]="infoToCarouselProfessionalSector"></app-carousel-image-cover>
    </div>
  </section>
</div>
<app-footer id="footer" class="footer"></app-footer>
