<app-main-nav></app-main-nav>
<app-header [urlImageHeader]="'https://cdn.soyjoctan.com/support/clients/sefcyn2000/about-us.jpeg'"></app-header>
<div class="container content-page-with-grid">

  <app-relational-pages [relationalPages]="relationalPages"></app-relational-pages>

  <section class="about-us sections main-content">
    <h3>Quiénes somos</h3>


    <p>Somos un grupo de profesionales mexicanos que juntos conformamos un gran impulso y esfuerzo en la industria del
      control de plagas en México, nuestro trabajo coordinado y metódico nos ha permitido ofrecer soluciones
      garantizadas en el manejo integrado de plagas por más de 45 años, durante este tiempo nos hemos asegurado que
      nuestros
      accionistas, socios comerciales y grupos de interés, logren sus metas y objetivos con la plena confianza de que
      desde nuestra responsabilidad aseguremos ambientes libres de plaga y en armonía con la naturaleza.<br>

      Sabemos que la competitividad no surge por casualidad, menos espontáneamente; ésta se crea y se logra mediante un
      proceso largo de aprendizaje, en SEFCYN2000 reunimos una trayectoria desde 1963, hemos enfrentado muchos retos y
      oportunidades, lo que nos ha permitido diseñar, establecer e implementar <span>estrategias de servicio</span>
      integradas dentro
      de un marco <span>acción estratégico</span> que se moldea y adapta a diversos estilos de gestión y liderazgo al
      interior de las
      empresas que nos contratan, no solo nos involucramos, buscamos fusionarnos con nuestros clientes para encontrar
      <span>“sí o sí”</span> la mejor estrategia de ejecución de los <span>procesos claves de éxito</span>, buscamos
      hasta encontrar
      la manera de
      hacer
      equipo con los grupos de interés a fin de hallar <span>la mejor y más pronta solución</span> a los retos que
      enfrentamos para
      asegurar nuestro objetivo de negocio, un ambiente saludable y libre de plagas.</p>
  </section>

</div>
<app-footer id="footer" class="footer"></app-footer>
