<app-main-nav></app-main-nav>
<app-header [urlImageHeader]="" [isShowNav]="false"></app-header>

<section>
  <div class="container">
    <h3>Servicios para la industria</h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut nunc sed nisi lacinia gravida. Nulla
      facilisi. Duis leo orci, consectetur eget arcu a, imperdiet ullamcorper ex. Proin eu arcu tincidunt, egestas purus
      sed, ultricies purus. </p>

    <carousel [height]="heightCarousel" [cellsToShow]="numberElements" [arrowsOutside]="true"
              [arrowsTheme]="'dark'">

      <div class="carousel-cell">
        <div class="content-carousel-cell" id="store">
          <div class="ccc">
            <h4>Fábricas de cemento</h4>
            <p>Yes, there is chaos, it experiments with ascension.Yes, there is chaos, it experiments with
              ascension</p>
            <a href="#">Saber más</a>
          </div>
        </div>
      </div>

      <div class="carousel-cell">
        <div class="content-carousel-cell" id="restaurant">
          <div class="ccc">
            <h4>Siderurgia</h4>
            <p>Yes, there is chaos, it experiments with ascension.Yes, there is chaos, it experiments with
              ascension</p>
            <a href="#">Saber más</a>
          </div>
        </div>
      </div>

      <!--      <div class="carousel-cell">
              <div class="content-carousel-cell" id="hotel">
                <div class="ccc">
                  <h4>Hoteles</h4>
                  <p>Yes, there is chaos, it experiments with ascension.Yes, there is chaos, it experiments with
                    ascension</p>
                  <a href="#">Saber más</a>
                </div>
              </div>
            </div>

            <div class="carousel-cell">
              <div class="content-carousel-cell" id="cinema">
                <div class="ccc">
                  <h4>Cines</h4>
                  <p>Yes, there is chaos, it experiments with ascension.Yes, there is chaos, it experiments with
                    ascension</p>
                  <a href="#">Saber más</a>
                </div>
              </div>
            </div>

            <div class="carousel-cell">
              <div class="content-carousel-cell" id="dental">
                <div class="ccc">
                  <h4>Clínicas dentales</h4>
                  <p>Yes, there is chaos, it experiments with ascension. Yes, there is chaos, it experiments with
                    ascension</p>
                  <a href="#">Saber más</a>
                </div>
              </div>
            </div>

            <div class="carousel-cell">
              <div class="content-carousel-cell" id="office">
                <div class="ccc">
                  <h4>Oficinas</h4>
                  <p>Yes, there is chaos, it experiments with ascension.Yes, there is chaos, it experiments with
                    ascension</p>
                  <a href="#">Saber más</a>
                </div>
              </div>
            </div>-->


    </carousel>

  </div>
</section>
<app-footer id="footer" class="footer"></app-footer>

