<app-main-nav></app-main-nav>
<app-header [urlImageHeader]="'https://cdn.soyjoctan.com/support/clients/sefcyn2000/vision.jpg'"></app-header>
<div class="container content-page-with-grid">

  <app-relational-pages [relationalPages]="relationalPages"></app-relational-pages>

  <section class="sections main-content">
    <h3>Visión</h3>
    <p>En SEFCYN2000 deseamos representar algo fundamental para las personas y empresas que nos eligen como su mejor
      opción de servicios en manejo integrado de plagas, luchamos por lograr engrandecer su conciencia ecológica e
      interés por el medio ambiente, deseamos generar bienestar, confianza y compromiso para cada uno de nuestros
      clientes. <br>
      Somos un proveedor seguro, eficaz, comprometido, somos fanáticos de lograr nuestros objetivos en cada compromiso
      asumido con nuestros clientes de esa manera contribuimos con el progreso económico de cada uno de ellos.
      Somos gente y una organización con capacidades y compromisos superiores. <br>
      Buscamos apasionadamente que todos nuestros grupos de interés - inversores, clientes, comunidades locales nos
      reconozcan por los objetivos que logramos, pero también por la forma en que los alcanzamos;
      Nos aseguramos de diseñar y ejecutar estrategias de control de plagas que estén integradas dentro de un marco de
      acción estratégico y haciendo de cada reto una oportunidad para crecer, permítanos contribuir con su marca en la
      búsqueda de su éxito empresarial. <br>
      Ofrecemos un compromiso de clase mundial y aspiramos a representar la mejor alternativa en servicios de
      control de plagas en las ciudades donde nos encontramos. </p>
  </section>

</div>
<app-footer id="footer" class="footer"></app-footer>
