<app-main-nav></app-main-nav>
<app-header style="background-position: top"
            [urlImageHeader]="'https://oxatis.typepad.com/.a/6a00d8341d6ba153ef01b7c8dbc9e5970b-800wi'"></app-header>
<section>
  <div class="container">
    <section>
      <h3>Tratamientos</h3>

      <p class="introductory-paragraph-text"> Dogma happens when you shape solitude so wisely that whatsoever you
        are disappearing is your blessing.
        Dogma happens when you shape solitude so wisely that whatsoever you are disappearing is your blessing.Dogma
        happens when you shape solitude so wisely that whatsoever you are disappearing is your blessing.Dogma
        happens when you shape solitude so wisely that whatsoever you are disappearing is your blessing.Dogma
        happens when you shape solitude so wisely that whatsoever you are disappearing is your blessing.Dogma
        happens when you shape solitude so wisely that whatsoever you are disappearing is your blessing.Dogma
        happens when you shape solitude so wisely that whatsoever you are disappearing is your blessing.Dogma
        happens when you shape solitude so wisely that whatsoever you are disappearing is your blessing.Dogma
        happens when you shape solitude so wisely that whatsoever you are disappearing is your blessing.</p>

      <app-cards [dataForCards]="cardsInfo"></app-cards>
    </section>

    <div class="inner-sections">
      <section id="preventive-treatment">
        <h4>Tratamientos preventivos</h4>
        <div>
          <p class="introductory-paragraph-text">Nuestros procedimientos para identificar la mejor alternativa ante una
            amenaza de plagas, comienzan de una
            manera personalizada, cada caso es distinto por lo que nos aseguramos de tipificar de manera excelente el
            objetivo que cada cliente solicita, cuando la necesidad u objetivo es Prevención, entonces; la estrategia
            partirá de identificar los riesgos que se tienen en un estructura especifica ( Mi Hogar, Mi Empresa, etc)
            por lo que de acuerdo con las actividades o la interacción que se tenga dentro y fuera del espacio a
            controlar es muy relevante: por ejemplo si se trata de un hogar es muy distinto cuando el espacio es un
            departamento, una casa independiente, en ambos casos el sistema hidrosanitario, coladeras, vecinos etc. Se
            tornan como variables con impactos distintos también, así que la inspección y diagnóstico son el punto de
            partida para el éxito de todo programa preventivo de control de plagas.
            <br>
            Determinarán los riesgos de inmigración de organismos plagas al interior de la estructura en la cual
            pretendemos asegurar un manejo preventivo de plaga, permitirá identificar las causas-raíz con ello, se
            elabora un <span>Plan Estratégico</span> para minimizar el riesgo y maximizar el resultado. Nuestra
            experiencia de más de
            50 años, nos han permitido desarrollar los mejores diagnósticos preventivos en el ámbito residencial,
            comercial, empresarial e industrial, logrando tener clientes satisfechos por décadas. Contamos con una
            <span>aplicación tecnológica</span> ( app Maxim ) por medio de la cual nuestro personal técnico al capturar
            los datos en
            su dispositivo electrónico, obtendrá la mejor estrategia para usted, es decir, <span>la mejor combinación entre
              Productos, Marcas, Temporalidad de Servicios y Precio</span>, usted tendrá en sus manos 2 ó 3 opciones
            para elegir.
          </p>
        </div>
      </section>

      <section id="corrective-treatment">
        <h4>Tratamientos correctivos</h4>
        <div>
          <p class="introductory-paragraph-text">En la actualidad existen servicios en el mercado que su principal
            característica es ofrecer precios muy bajos, logrando con ello, resultados muy pobres o deficientes, cuando
            esto ocurre es posible que un servicio preventivo no sea suficiente y se requiere entonces un tratamiento
            correctivo, en éste caso, la presencia de fauna nociva en una estructura determinada puede estar ya causando
            deterioro en el nivel de salud de las personas que lo habitan o quebrantos económicos por entrar en contacto
            con alimentos que después tienen que ser desechados, talvez existan ya daños a estructuras como en el caso
            de roedores que perforan tuberías, ductos eléctricos etc, todo ello en perjuicio de la economía de los
            propietarios de inmuebles. Ante ésta situación nuestras alternativas de servicio incluyen mecanismos de
            inspección muy sofisticados, nuestro primer objetivo es claro: Antes de Aplicar debemos tener una Hoja de
            Ruta de las acciones y métodos correctivos que se usarán, este aspecto marca una gran diferencia pues,
            lamentablemente existen opciones en el mercado donde ésta fase de inspección y diseño de estrategia a seguir
            es nula o muy deficiente, nuestra APP permite estructurar la mejor alternativa de servicio con la garantía
            de contar con los mejores productos, el mejor diagnóstico, la mejor aplicación técnica profesional, todo
            ello justifica nuestro lema Ofrecemos:<br></p>

          <div class="semi-slogan">
            <h5>“Servicios de Calidad Superior”<br>
              Lo mejor no tiene por qué ser Más Caro.</h5>
          </div>

          <p class="introductory-paragraph-text">Manejamos equipos profesionales para lograr la mejor aplicación que
            garantice llegar hasta el refugio más
            pequeño donde se alojen las plagas.
            Equipos ( este nombre ligara con la opción en el panel principal con equipos ). </p>
        </div>
      </section>

      <section id="disinfection-covid">
        <h4>Desinfección COVID-19</h4>
        <div>
          <p class="introductory-paragraph-text">Sunt lanistaes imitari raptus, festus sectames Sunt lanistaes imitari
            raptus, festus sectamesSunt lanistaes
            imitari raptus, festus sectamesSunt lanistaes imitari raptus, festus sectamesSunt lanistaes imitari raptus,
            festus sectamesSunt lanistaes imitari raptus, festus sectamesSunt lanistaes imitari raptus, festus
            sectamesSunt lanistaes imitari raptus, festus sectamesSunt lanistaes imitari raptus, festus sectamesSunt
            lanistaes imitari raptus, festus sectamesSunt lanistaes imitari raptus, festus sectamesSunt lanistaes
            imitari
            raptus, festus sectamesSunt lanistaes imitari raptus, festus sectames.</p>
        </div>
      </section>
    </div>
  </div>
</section>
<app-footer id="footer" class="footer"></app-footer>
